{% extends 'adminhome.html' %}

{% block content %}
<h1 style="font size = 36px">Add Sub Category</h1>
<h2> Login Here...</h2>
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
                
              
              <div class="col-xl-6 ">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Login</h3>
                  
                  <p style="color:blue;">{{output}}</p>

                  <form method="POST" enctype="multipart/form-data" 
                  action="/myadmin/addsubcategory/">
                  {% csrf_token %}  
                    
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="catname"> Category Name</label>
                <select name="catname" class="form-control" />
                    <option>Select Category</option>
                    {% for row in clist %}
                    <option>{{row.catname}}</option>
                       {% endfor %}
                </select></br></br>
                  <div class="form-outline mb-4">
                    <input type="text" name="subcatname" class="form-control" />
                    <label class="form-label" for="subcatname">Sub Category Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="file" name="caticon" class="form-control" />
                    <label class="form-label" for="caticon">Sub Category Icon</label>
                  </div>                    

                   <!-- 2 column grid layout for inline styling -->
    
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Add Sub Category</button>
  
   
                </div>
               </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}




